@import 'bootstrap';
@import 'bootstrap-icons';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

/* variabili */
:root {

    --primary-color-light: #c70039;
    --primary-color-dark: #94002a;
    --primary-color: #ff2e6a;

    --secondary-color: #28BEB4;
    --bcg2: #dfdddd7f;
}


/* css reset start */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
}

main {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--bcg2);
    padding-top: 70px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* css reset end */

/* navbar */
#nav {
    width: 100vw;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 3rem;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    z-index: 999;
    /* overflow: hidden; */
}

#nav #nav-left {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 70px;
}

#nav #nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav #nav-left .logo {
    height: 100px;
}

#nav #nav-right #hamburger i {
    color: white;
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.logout-btn {
    background-color: red;
    border: 1px solid rgba(255, 255, 255, 0.512);
    outline: none;
    padding: .1rem .5rem;
}

.auth-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#nav #nav-right #hamburger i {
    display: block;
    font-size: 3rem;
}

#dropMenu {
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: end;
    align-items: start;
    position: absolute;
    padding: 0 .2rem;
    top: 70px;
    left: 0;
    opacity: 0;
    transition: all .5s;
    transition-delay: .2s;
    display: none;
}

#dropList {
    display: flex;
    align-items: start;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 25vw;
    border-top: 1px solid var(--primary-color-dark);
    border-radius: 0 0 5px 5px;
}

#dropList li,
.logout,
.auth-btns a,
.nav-mail {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
    border-radius: 3px;
    padding: .2rem 0;
    cursor: pointer;
    margin: 1rem 0;
    transition: all .2s ease-in-out;
}

.auth-btns a {
    margin-right: 1rem;
}

.nav-mail {
    font-size: 1.5rem;
    margin-right: 5rem;
    text-transform: none;
}

#dropList li:not(:last-child):hover,
#dropList li:not(:last-child):active
 {
    background-color: white;
    color: black;
}

#dropMenu.show {
    opacity: 1;
    display: flex;
}



/*form */
#auth-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../public/storage/imgs/white_waves.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.creation-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.form-custom {
    display: inline-block;
    width: 43rem;
    background-color: rgba(179, 160, 160, 0.304);
    padding: 1rem 2rem;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.creation-form .form-custom {
    background-color: var(--bcg2);
    box-shadow: none;
    border: 1px solid rgba(8, 7, 16, 0.6);
}

.form-custom-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.form-custom * {
    color: var(--primary-color-light);
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    outline: none;
}

.creation-form .form-custom input,
.creation-form .form-custom select {
    border: 1px solid grey;
}

.form-custom h3 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 4.2rem;
}

.form-custom span {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
}

.form-custom label {
    display: block;
    margin-top: 3rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.form-custom input,
.form-custom select {
    display: block;
    height: 5rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    padding: 0 1rem;
    margin-top: .8rem;
    font-size: 1.4rem;
    font-weight: 300;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.option {
    background-color: lightgray;
    font-weight: 500;
}

.form-btn-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.form-custom-btn {
    margin-top: 5rem;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: .5rem 0;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: all .2s;
    border: none;
}

.form-custom-btn:hover {
    background-color: var(--primary-color-light);
}

.form-custom a {
    display: inline-block;
    font-weight: 700;
    position: relative;
    color: var(--primary-color-light);
}

.form-custom a::after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transform-origin: left;
    transition: all .3s;
}

.form-custom a:hover::after {
    transform: scale(1);
}

/*form end*/

/* footer */
footer {
    background-color: var(--primary-color);
    color: white;
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 999;
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials h4 {
    font-size: 1.5rem;
}

.footer-list li,
.social-list-item,
.footer-right p {
    margin-right: 1rem;
    font-size: 1.3rem;
}

.socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list-item i {
    font-size: 1.5rem;
}

.footerlogo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-height: 200px;
    margin: 0 auto;
}

.pi {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
}

footer>* {
    margin: 2rem;
}

/* footer end */

.homebtn-container {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
}

.homebtn-container span {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 700;
}

.homebtn-container span:last-child {
    padding-right: 1rem;
}

.btn-home {
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    background-color: var(--primary-color-light);
    padding: .5rem 1.5rem;
    border-radius: 5px;
    transition: all .2s;
}

.btn-home:hover {
    background-color: var(--primary-color-dark);
}

.success-component {
    text-align: center;
    font-size: 1.8rem;
    background-color: green;
    border-radius: 3rem;
    color: black;
    width: 50%;
    margin: 0 auto;
}

.error-component {
    text-align: center;
    font-size: 1.8rem;
    background-color: red;
    border-radius: 3rem;
    color: white;
    width: 50%;
    margin: 0 auto;
}

/* custom card */
.custom-card {
    border-radius: 8px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
    background-color: white;
    -webkit-box-shadow: 1px 1px 13px -3px rgba(0, 0, 0, 0.9);
    box-shadow: 1px 1px 13px -3px rgba(0, 0, 0, 0.9);


}

.img-custom {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;

}

.img-custom img {
    object-fit: cover;
}

.custom-title,
.custom-body,
.card-button,
.created_at {
    padding: .2rem 1rem;
}

.custom-title h4 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    color: #ff2e6a;
}

.custom-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
    width: 100%;
}

.custom-body::after {
    content: '';
    width: 75%;
    height: 2px;
    display: block;
    background-color: rgba(128, 128, 128, 0.362);
    position: absolute;
    bottom: -4px;
    left: 12.5%;
}

.custom-body .description {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: grey;
}

.custom-body .price {
    display: block;
    width: 100%;
    text-align: end;
    font-size: 2rem;
    font-weight: 500;
    color: #ff2e6a;
}

.category-box {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: var(--secondary-color);
    padding: 2px 6px;
    border-radius: 5px;
    font-weight: 700;
}

.card-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-button a {
    display: block;
    width: 100px;
    text-align: center;
    color: white;
    background-color: #94002a;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: .5px;
    padding: 2px 5px;
    border-radius: 5px;
    transition: all .2s ease-in;
}

.card-button a:hover {
    background-color: #ff2e69af;
}

.created_at {
    width: 100%;
    text-align: right;
    margin-top: 2px;
}

.created_at p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: grey;
}

.category-box span {
    color: white;
    font-size: 1.5rem;
    letter-spacing: .5rem;
}

/* custom card end */

/* annuncements page */

.ann-section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background-color: var(--primary-color);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40vh, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 50vh, 0% 100%);
}

.ann-section h1 {
    font-size: 5rem;
    color: white;
    letter-spacing: 2px;
    font-weight: 700;
}

.ann-title {
    text-align: center;
    font-size: 5rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.ann {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.ann h1 {
    font-size: 4.5rem;
    font-weight: 600;
}

.ann .ann-category {
    font-size: 1.6rem;
    font-weight: 400;
}

.ann-user {
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 600;
}

.ann-desc {
    font-size: 1.9rem;
    letter-spacing: .5px;
    line-height: 2rem;
}

.ann-price {
    width: 100%;
}

.ann-price p {
    color: var(--primary-color-dark);
    font-size: 1.5rem;
    text-align: end;
    font-weight: 600;
}

@media only screen and (max-width: 1100px) {
    .ann-section img {
        width: 50%;
    }

    .ann-section h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 600px) {

    html {
        font-family: 'Poppins', sans-serif;
        font-size: 50%;
    }

    #nav #nav-left {
        display: none;
    }

    #nav #nav-right {
        width: 100%;
        justify-content: space-between;
    }
        #dropList{
            width: 100%;
        }

    .ann-section {
        height: 60vh;
    }

    .ann-section img {
        width: 100%;
    }

    .ann-section h1 {
        display: none;
    }
    .ann-img{
        display: none;
    }
    .form-custom-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}