.success-component {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  background-color: #77dd77;
  color: white;
  width: 50%;
  height: 50px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 2px 8px;
}

.error-component {
  color: red;
  display: block;
  width: 100%;
  text-align: end;
  padding-right: 100px;
  margin-top: 5px;
}
