
@media only screen and (max-width: 1100px) {
  #nav {
    width: 100%;
  }
  #nav #nav-left {
    padding-left: 0;
  }

  #nav #nav-right {
    justify-content: end;
  }
  #nav #nav-right #hamburger {
    display: block;
  }
  #dropList {
    width: 100%;
    display: flex;
    flex-direction: column;
    bottom: -305px;
    left: 0px;
    height: fit-content;
    opacity: 0;
    z-index: 999;
    transition: all 0.5s;
  }
  #dropList.showList {
    opacity: 1;
  }
  .badge {
    right: 120px;
  }
  .ann-section img {
    width: 50%;
  }

  .ann-section h1 {
    font-size: 3rem;
  }
  .category-form {
    background-color: transparent;
    flex-direction: column;
  }
  .category-form .inputBox {
    margin: 10px 0;
  }
  .category-form-btnBox {
    width: 400px;
    margin: 10px 0;
    justify-content: end;
  }
  .sell_box {
    width: 100%;
  }
    .cards_img {
    z-index: -1;
    top: -100%;
    right: 0}
}

@media only screen and (max-width: 600px) {
  html {
    font-family: "Poppins", sans-serif;
    font-size: 50%;
  }
  #nav {
    width: 100%;
  }

  #dropList {
    bottom: -260px;
  }
  .home-form {
    display: block;
    width: 100%;
  }
  .home-form input {
    width: 100%;
  }
  .category-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border: 1px solid var(--bcg);
  }
  .category-card i {
    background-color: var(--bcg);
  }
  /* .ann-section {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    height: 75vh;
  }

  .ann-section h1 {
    display: none;
  } */
  .cardWrapper {
    justify-content: start;
  }

  .form-custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-box {
    padding: 0 10px;
  }
  .form-container {
    width: 100%;
  }

  .category-form {
    width: 100%;
    margin-bottom: 20px;
  }
  .category-form-btnBox {
    width: 100%;
    margin: 10px 0;
    justify-content: end;
  }

  .category {
    height: 15px;
  }
  .homebtn-container-sort {
    width: 100%;
    justify-content: end;
  }
  .homebtn-container span {
    font-size: 2rem;
  }
  .input-container {
    flex-direction: column;
    text-align: center;
  }
  .creation-form h3,
  .creation-form-header h1 {
    font-size: 3rem;
  }
  .input-container label {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 10px;
  }
  .homebtn-container {
    height: 75vh;
    background-image: none;
    overflow: hidden;
    border-radius: 8px;
  }
  .sell_box {
    height: 100%;
    padding-bottom: 50px;
  }

  .sell_box span {
    font-size: 3rem;
    color: black;
    font-weight: 800;
    margin-bottom: 5px;
  }

  .cards_img {
    z-index: -1;
    top: -560px;
    left: -80px;
    opacity: 0.7;
  }
  .sell_box .btn-home {
    width: 75%;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-size: 1.9rem;
  }
  .footer-list,
  .socials,
  .footer-right {
    text-align: center;
    margin: 15px 0;
  }
  .footer-list {
    justify-content: center;
  }
}
@media only screen and (max-width: 475px){
    #nav #nav-right {
    justify-content: start;
  }
  .userIcon{
    display: none;
  }
  .nav-mail{
    font-size: 1.2rem;
  }
  .logo_name{
    font-size: 2rem;
    letter-spacing: inherit;
  }
  .addCard{
    width: 300px;
    height: 380px;

  }
  .homeCard-img{
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
}
